* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ComfortaaLigth;
    src: url("../fonts/COMFORTAA.LIGHT.TTF");
}

@font-face {
    font-family: ConfotaaBold;
    src: url("../fonts/Comfortaa-Bold.ttf");
}

@font-face {
    font-family: ComfortaaRegular;
    src: url("../fonts/COMFORTAA.REGULAR.TTF");
}

@font-face {
    font-family: Impact;
    src: url("../fonts/Impact.ttf")
}

@font-face {
    font-family: notas;
    src: url("../fonts/Nature\ Beauty\ Personal\ Use.ttf")
}


/* NAV-BAR DEVS */

.nav-bar {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    position: fixed;
    width: 100%;
    font-family: ConfotaaBold;
    z-index: 5;
}

.nav-bar img {
    width: 120px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin-right: 30px
}

.navegacao a {
    text-decoration: none;
    padding-left: 10px;
    color: #fff;
}


/* NAVB-BAR DEVS MOBILE */

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    display: none;
}

.main-content.open-sidebar {
    left: 240px;
}

#sidebar {
    position: fixed;
    z-index: 1000;
    left: -240px;
    background: #000;
    width: 240px;
    height: 100%;
    box-sizing: border-box;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}

.change-sidebar {
    left: 0px !important;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul li {
    margin: 0;
}

#sidebar ul li a {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #000;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

#sidebar ul li:hover a {
    background: #81CAA8;
}

.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    left: 0;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}

.main-content .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}

.main-content .content h1 {
    font-weight: 100;
}

.main-content .content p {
    width: 100%;
    line-height: 160%;
}

.main-content #sidebar-toggle {
    background: #81CAA8;
    border-radius: 3px;
    display: block;
    position: relative;
    padding: 10px 7px;
    float: left;
    margin-top: 7px;
}

.main-content #sidebar-toggle .bar {
    display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #f1f1f1;
    border-radius: 1px;
}

.main-content #sidebar-toggle .bar:last-child {
    margin-bottom: 0;
}

.large {
    margin-top: 800px;
}


/* IMAGEM COM MAQUINA DE ESCREVER */

.imagem-maquinadeescrever {
    background-image: url('../img/PicsArt_07-28-12.47-min-min.png');
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typewrite {
    width: 50%;
    font-size: 50px;
    text-align: center;
    font-family: ComfortaaRegular;
    color: #fff;
    text-shadow: 1px 1px 1px #000
}


/* CSS FAIXA C/ BOTAO DE SE INSCREVER */

.faixa-inscreva-se {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 55px;*/
    width: 100%;
    background-color: #000;
    background-attachment: fixed;
    box-shadow: #11827094 0px 3px 9px 2px;
}

.botao-inscreva-se {
    background-color: #118270;
    ;
    width: 300px;
    height: 70px;
    font-family: Impact;
    font-size: 28px;
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 40px;
    border-color: #118270;
    ;
    cursor: pointer;
    border: double 6px;
}

.botao-inscreva-se:hover {
    opacity: 0.8;
    transition: 0.7s;
}


/* CSS O QUE ENSIAMOS E POR QUE APRENDER */

.container-oq-ensinamos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: ComfortaaRegular;
}

.div-oq-ensinamos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.titulo-oq-ensinamos {
    color: #679281;
    padding-bottom: 26px;
    padding-top: 40px;
    font-size: 30px;
}

.txt-oq-ensinamos {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 1);
    background-attachment: fixed;
    width: 361px;
    text-align: center;
    color: #000;
    padding: 45px 5px 10px 5px;
    box-shadow: #777 3px 3px 3px;
    margin-right: 30px;
    padding-bottom: 68px;
    border-radius: 30px;
    border: 1px solid rgba(1, 1, 1, 0.2);
}


/* CSS NOSSA HISTORIA */

.container-historia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3E665B;
    background-attachment: fixed;
    width: 100%;
    height: 470px;
    color: #fff;
    padding: 20px 0px;
    box-shadow: #3E665B 1px 1px 7px 2px;
}

.titulo-historia {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: ComfortaaRegular;
}

.texto-historia {
    font-family: ComfortaaLigth;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-historia p {
    width: 60%;
}

#up-font-size {
    font-family: ComfortaaRegular;
    font-size: 25px;
}

.div-icon-historia {
    padding: 20px 0px;
}

.icone-historia {
    width: 70px;
}

.seta {
    width: 55px;
}


/* CSS IDEALIZADOR E COLABORADORES */

.container-colaboradores {
    background-color: #fff;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
}

.idealizador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.titulo-colaboradores {
    color: #679281;
    font-size: 22px;
    font-family: ComfortaaRegular;
    padding-bottom: 30px;
}

.ftcolaboradores {
    display: flex;
    flex-direction: column;
}

.icons1 {
    display: flex;
    flex-direction: column;
}

.icon-redondo {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 10px 20px;
    box-shadow: #679281 1px 1px 7px 2px;
}

.colaborador {
    width: 200px;
    padding: 0px 30px;
}

.ficha-pessoal {
    font-family: ComfortaaRegular;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    font-size: 18px;
}

.nome-colaborador {
    font-size: 24px;
    padding-bottom: 10px;
}

.box1 {
    display: flex;
    align-items: flex-start;
}

.clbrds {
    padding-bottom: 25px;
}


/* CSS PATROCINADORES */

.container-patrocinadores {
    padding-top: 10px;
}

.action-patrocinador:hover {
    transition: 1s;
    transform: rotateZ(360deg);
}

.icones-patrocinadores {
    display: flex;
    text-align: center;
}

.hr-separador {
    color: #3e665b;
    border: solid;
}


/* CSS CARROSSEL DE DEPOIMENTOS */

.carousel-depoimentos {
    background-color: #212A27;
    background-attachment: fixed;
}

.carousel-depoimentos h1 {
    font-family: ComfortaaRegular;
    color: #81CAA8;
    font-size: 38px;
    display: flex;
    padding: 24px;
    justify-content: center;
}

.owl-item img {
    display: block;
    width: 100%;
    padding-bottom: 16px;
}


/* CSS FORMULARIO E INCRIÇÕES */

.container-inscreva-se {
    background-image: url("../img/bg-contato-min.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height: 910px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formulario {
    display: none;
    /*display: flex;*/
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inscricao
/* .inscrições {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 45%;
    text-shadow: 1px 3px #000;
    width: 100%;
} */

.formulario form {
    display: flex;
    flex-direction: column;
}

.titulo-form {
    font-family: ComfortaaRegular;
    color: #fff;
    font-size: 37px;
    padding-bottom: 20px;
    text-align: center;
}

.form-input {
    margin: 10px 0px;
    padding-left: 5px;
    height: 38px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    border: solid 2px #fff;
    box-shadow: #62c7a39c 0px 0px 5px 2px;
}

.textarea-form {
    height: 125px;
}

.inscricoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-inscrições {
    font-size: 40px;
    color: #fff;
    font-family: Impact;
    text-align: center;
    padding: 24px 0px 20px 0px;
    text-shadow: 1px 1px #000;
}

.botao-inscrições {
    font-family: Impact;
    font-size: 28px;
    color: #fff;
    background-color: #52a584;
    border: 1px solid #000;
    border-radius: 40px;
    height: 53px;
    width: 173px;
    margin-top: 20px;
    cursor: pointer;
}

.botao-provas {
    width: 260px;
}

.botao-inscrições:hover {
    color: #52a584;
    transition: 600ms;
    background-color: #fff;
}

.info-prova {
    background-color: #81CAA8;
    width: 100%;
    height: 232px;
    margin-bottom: -418px;
}

#tblLinha {
    color: white;
    font-family: sans-serif;
}

.tabela {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 70%;
    display: flex;
    justify-content: center;
}

#tblLinha td {
    padding: 5px;
    text-align: justify;
}

/* CSS FOOTER */

footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px
}

footer div {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
}

footer li {
    list-style-type: none;
}

.devs {
    align-items: center;
    width: 34%;
}

footer .incones {
    margin-left: 20px;
}

.link {
    align-items: flex-end;
    padding-right: 20px;
}

.link a {
    font-family: ComfortaaRegular;
    text-decoration: none;
    list-style-type: none;
    color: #81caa8;
    font-size: 18px;
}

.icon-face {
    margin-bottom: -15px;
}

.icon-insta {
    margin-top: -23px;
    margin-bottom: -40px;
}

.icon-linkedin {
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    margin-top: 23px;
}

.icon-face:hover,
.icon-insta:hover,
.icon-linkedin:hover {
    opacity: 0.8;
    transition: 0.5s;
    transform: rotateZ(360deg);
}

.link ul li a:hover {
    color: #fff;
}


/* FORMULARIO GOOGLE FORMS */

.googleforms {
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
    flex-direction: column;
    align-items: center;
}

iframe {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    height: 1807px;
    border: none;
}


/* MEDIA QUERIES*/

@media(max-width:1295px) {
    .div-megafone {
        display: none;
    }
    .container-oq-ensinamos {
        justify-content: center;
    }
}

@media(max-width:1040px) {
    .icons1 {
        flex-direction: column
    }
    .box1 {
        flex-direction: row;
    }
}

@media(max-width:840px) {
    .container-oq-ensinamos {
        flex-direction: column;
    }
    .box1 {
        flex-direction: column;
    }
    .clbrds {
        padding-bottom: 0;
    }
    .colaborador {
        padding: 0px 30px 20px 30px;
    }
}

@media(max-width:1333px) {
    .info-prova {
        margin-bottom: -262px;
    }
}


/* MEDIA QUERIE -> FORMULARIO E INSCRIÇÕES */

@media(max-width:768px) {
    /* Selecionados */
    .tabela {
        width: 100%;
        padding: 0;
    }
    .espacovazio {
        display: none;
    }
    .texto-inscrições {
        margin: 20px 0px 20px 0px;
        text-shadow: 1px 1px #000;
    }
    .container-inscreva-se {
        height: 1160px;
        flex-direction: column;
    }
    .tabela {
        background-color: transparent;
    }
    .inscricoes{
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
    }
    /* .texto-inscrições {
        font-size: 21px;
    }
    .inscrições {
        width: 100%;
    }
    .container-inscreva-se {
        flex-direction: column;
    } */
    /* .titulo-form {
        padding-top: 20px;
        font-size: 28px;
    }
    .info-prova {
        width: 100%;
    }
    .info-prova h1 {
        font-size: 15px;
    } */
    /* MEDIA QUERIE -> O QUE ENSIAMOS E POR QUE APRENDER */
    .titulo-oq-ensinamos {
        font-size: 20px;
        /*width: 208px;*/
    }
    .txt-oq-ensinamos {
        font-size: 16px;
        width: 70%;
        margin-right: 0;
    }
    /* MEDIA QUERIE -> NOSSA HISTÓRIA, IDEALIZADOR COLABORADORES E PATROCINADORES */
    .titulo-historia,
    .titulo-colaboradores {
        font-size: 15px;
    }
    .texto-historia {
        font-size: 16px;
    }
    .texto-historia p {
        width: 85%;
    }
    #up-font-size {
        font-size: 17px;
    }
    .icone-historia {
        width: 43px;
    }
    .seta {
        width: 38px;
    }
    .colaborador {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon-redondo {
        width: 100px;
        height: 100px;
    }
    .nome-colaborador {
        font-size: 20px;
    }
    .ficha-pessoal {
        font-size: 16px;
    }
    /*MEDIA QUERIE -> FOOTER*/
    footer {
        flex-direction: column;
        align-content: center;
        padding-bottom: 10px;
    }
    footer .incones {
        margin-left: 0px;
    }
    footer div {
        width: 100%;
        padding: 30px 0px;
    }
    .incones {
        align-content: center;
        flex-direction: row;
        padding: 15px 0px 0px;
        margin-left: -10px;
        text-align: center;
        justify-content: space-around;
        display: flex;
    }
    .icon-face {
        margin-bottom: 0px;
        margin-left: 0px;
        padding-right: 0px
    }
    .icon-insta {
        margin-top: -5px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .link {
        text-align: center;
        align-items: center;
        padding-bottom: 10px;
        padding-right: 0px;
    }
    .link ul li {
        padding: 2px;
    }
}


/* IMAGEM COM MAQUINA DE ESCREVER */

@media(max-width:720px) {
    .typewrite {
        text-align: center;
        font-size: 40px;
        width: 321px;
    }
    .container {
        display: inline;
    }
    .navegacao {
        display: none;
    }
    .nav-bar {
        display: flex;
        justify-content: center;
    }
}


/* MEDIA QUERIE CARROSSEL DE DEPOIMENTOS */

@media(max-width:700px) {
    .carousel-depoimentos h1 {
        color: #81CAA8;
        display: flex;
        font-size: 22px;
        padding: 24px;
        justify-content: center;
    }
}


/* CONTINUAÇÃO COLABORADORES E PATROCINADORES */

@media(max-width:585px) {
    .box1 {
        flex-direction: column;
    }
    .colaborador {
        padding: 0px 30px 20px 30px;
    }
    .icones-patrocinadores {
        flex-direction: column;
    }
}


/* BOTAO INSCREVA-SE */

@media(max-width:500px) {
    .botao-inscreva-se {
        width: 280px;
        height: 65px;
    }
    /* .form-input, .inscrições{
        width: 80%;
    } */
    .formulario form {
        align-items: center;
    }
}

@media(max-width:280px) {
    .botao-inscreva-se {
        width: 200px;
        font-size: 22px;
    }
}

;